<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>W6D3-QuotePro 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>W6D3-QuotePro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2BB7C65D1DF85C8600579B84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BB7C6741DF85C8700579B84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BB7C67F1DF85C8700579B84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
